$medium-screen-breakpoint: 1440px;
$body-padding: 1rem;
$mobile-breakpoint: 849px;
@media (max-width: $mobile-breakpoint) {
  $body-padding: 1.6rem;
}
$padding-link-button: 0.5rem;
$color-primary-black: #000;
$color-primary-neutral: #404040;
$color-primary-white: #fff;
$color-zinc-100: #f4f4f5;
$color-zinc-200: #e4e4e7;
$color-zinc-300: #d4d4d8;
$color-zinc-400: #969696;
$color-zinc-500: #58585f;
$color-zinc-800: #27272a;
$color-error: #ef4444;
$color-success: #28a745;

@function columnWidth($cols, $horizontal-padding, $item-gap) {
  @return calc(
    (
        min(100vw, $medium-screen-breakpoint) - (2 * $horizontal-padding) -
          (2 * $body-padding) - (($cols - 1) * $item-gap)
      ) / $cols
  );
}
