@import "../styles/variables.scss"; 



footer {
  background: $color-primary-black;
  color: $color-primary-white;
  display: flex;
  justify-content: space-around;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  svg * {
    fill: $color-primary-white;
  }
  a{
    color: $color-primary-white;
    text-decoration: underline;
  }

}
