@import "../styles/variables.scss";
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  gap: 1rem;
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 1.5rem;
    }
    @media (max-width: $mobile-breakpoint) {
      $nav-width: 12rem;
      width: $nav-width;
      position: absolute;
      top: calc(3rem + $body-padding);
      right: -$nav-width;
      overflow: hidden;
      justify-content: flex-end;
      padding: 0 $body-padding 0 0;
      transition: ease-in 300ms;
      transform: translateX(0%);
      ul {
        flex-direction: column;
        align-items: flex-end;
      }
      &.open {
        transform: translateX(-$nav-width);
      }
    }
  }
  .burger-menu {
    display: none;
    height: 2rem;
    @media (max-width: $mobile-breakpoint) {
      position: absolute;
      top: $body-padding;
      right:$body-padding;
      display: block;
    }
  }
  .cv-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $color-primary-white;
    background-color: black;
    border-radius: 10px;
    padding: $padding-link-button;
    width: 9.5rem;
    height: 3.5rem;
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}
