@import "../styles/variables.scss";

.soft-skills {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: $color-primary-black;
  color: $color-primary-white;
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    .skill-item {
      width: 45%;
      @media (max-width: $mobile-breakpoint) {
        width: 90%;
      }
      .skill {
        height: 8rem;
        $skill-gap: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $skill-gap;
        border: solid $color-primary-white 2px;
        border-radius: 4px;
        .icon {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 40%;
            height: auto;
            fill: $color-primary-white;
            stroke: $color-primary-white;
            path {
              stroke: $color-primary-white;
            }
          }
        }
        .text {
            width: 60%;
        }
      }
    }
  }
}
