@import "../styles/variables.scss";

.soft-skills {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: $color-primary-black;
  color: $color-primary-white;
  h2 {
    text-align: center;
  }
  ul {
    $cols: 2;
    $gap: 1rem;
    $horizontal-padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
    padding: 1rem $horizontal-padding;
    @media (max-width: $mobile-breakpoint) {
      padding: 1rem;
    }
    .skill-item {
      width: columnWidth($cols, $horizontal-padding, $gap);
      @media (max-width: $mobile-breakpoint) {
        width: 100%;
      }
      .skill {
        height: 8rem;
        $skill-gap: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $skill-gap;
        border: solid $color-primary-white 2px;
        border-radius: 4px;
        .icon {
          display: flex;
          align-items: center;
          width: 30%;
          justify-content: center;
          svg {
            width: auto;
            height: 6rem;
            fill: $color-primary-white;
            stroke: $color-primary-white;
            path {
              stroke: $color-primary-white;
            }
          }
        }
        .text {
          width: 70%;
        }
      }
    }
  }
}
